In [49]:
import pandas as pd
from sqlalchemy import create_engine

In [50]:
csv_file = "analysisData.csv"
df = pd.read_csv(csv_file)
df.head()

,state,county,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,...,age29andunder_pct,age65andolder_pct,median_hh_inc,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct,ruralurban_cc\
0,Alabama,Autauga,1001.0,18172.0,5936.0,865.0,17379.0,6363.0,190.0,6331.0,...,40.037058,13.978456,53099.0,5.591657,12.417046,75.407229,10.002112,74.065601,42.002162,2\
1,Alabama,Baldwin,1003.0,72883.0,18458.0,3874.0,66016.0,18424.0,898.0,19145.0,...,35.474412,18.714851,51365.0,6.286843,9.972418,70.452889,7.842227,68.405607,42.279099,3\
2,Alabama,Barbour,1005.0,5454.0,4871.0,144.0,5550.0,5912.0,47.0,4777.0,...,37.664387,16.528895,33956.0,12.824738,26.235928,87.132213,19.579752,81.364746,67.789635,6\
3,Alabama,Bibb,1007.0,6738.0,1874.0,207.0,6132.0,2202.0,86.0,2082.0,...,37.329435,14.885699,39776.0,7.146827,19.301587,88.000000,15.020490,87.471774,68.352607,1\
4,Alabama,Blount,1009.0,22859.0,2156.0,573.0,20757.0,2970.0,279.0,2980.0,...,37.240053,17.192916,46212.0,5.953833,19.968585,86.950243,16.643368,86.163610,89.951502,1\

In [51]:
df.columns

Index(['state', 'county', 'fips', 'trump16', 'clinton16', 'otherpres16',
       'romney12', 'obama12', 'otherpres12', 'demsen16', 'repsen16',
       'othersen16', 'demhouse16', 'rephouse16', 'otherhouse16', 'demgov16',
       'repgov16', 'othergov16', 'repgov14', 'demgov14', 'othergov14',
       'total_population', 'cvap', 'white_pct', 'black_pct', 'hispanic_pct',
       'nonwhite_pct', 'foreignborn_pct', 'female_pct', 'age29andunder_pct',
       'age65andolder_pct', 'median_hh_inc', 'clf_unemploy_pct', 'lesshs_pct',
       'lesscollege_pct', 'lesshs_whites_pct', 'lesscollege_whites_pct',
       'rural_pct', 'ruralurban_cc\'],
      dtype='object')

In [52]:
df.describe()

,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,repsen16,othersen16,...,female_pct,age29andunder_pct,age65andolder_pct,median_hh_inc,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct
count,3114.000000,3114.000000,3.114000e+03,3114.000000,3114.000000,3.114000e+03,3114.000000,1.942000e+03,1942.000000,1942.000000,...,3111.000000,3111.000000,3111.000000,3111.00000,3111.000000,3111.000000,3111.000000,3111.000000,3111.000000,3113.000000
mean,30660.117855,20171.786448,2.110600e+04,2459.164419,19433.805716,2.106226e+04,839.764611,2.574812e+04,19936.436148,1790.051493,...,49.976043,37.342346,17.634368,47817.63838,7.064097,14.225599,79.216478,11.044488,77.001023,58.470368
std,14984.811176,43162.140286,8.052001e+04,7514.783991,44577.392198,7.401418e+04,2949.902265,1.062836e+05,38095.362416,5114.666594,...,2.333077,5.439730,4.442080,12482.36596,3.228842,6.543414,9.138770,5.327779,10.358919,31.459458
min,1001.000000,0.000000,0.000000e+00,0.000000,54.000000,5.000000e+00,0.000000,8.000000e+00,0.000000,0.000000,...,21.513413,11.842105,3.854570,18972.00000,0.000000,1.278772,19.789880,0.000000,9.188199,0.000000
25%,19039.500000,3216.250000,1.170000e+03,183.000000,2909.000000,1.553000e+03,74.000000,1.571000e+03,3225.750000,90.000000,...,49.487857,34.163145,14.831727,39681.00000,4.952997,9.307582,75.317416,7.231642,72.886802,33.197178
50%,29210.000000,7239.500000,3.178000e+03,499.000000,6445.500000,3.999000e+03,179.000000,4.024500e+03,7045.500000,399.000000,...,50.428902,37.000969,17.280145,46250.00000,6.761641,12.773185,81.474694,9.938900,79.452055,59.412038
75%,46006.500000,17886.000000,9.827750e+03,1674.000000,16315.250000,1.134850e+04,529.750000,1.320750e+04,18261.250000,1367.500000,...,51.132910,39.984573,19.933773,53563.50000,8.774941,18.307272,85.567853,13.947282,83.918746,87.012987
max,56045.000000,769743.000000,2.464364e+06,200201.000000,885333.000000,2.216903e+06,78831.000000,3.113911e+06,529781.000000,100877.000000,...,58.499127,70.981316,53.106375,125672.00000,29.927415,51.479358,97.014925,41.758287,95.918367,100.000000

In [53]:
df["state"].value_counts()

Texas                   254
Georgia                 159
Virginia                134
Kentucky                120
Missouri                116
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Pennsylvania             67
Alabama                  67
Florida                  67
South Dakota             66
Louisiana                64
Colorado                 64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Utah                     29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Vermont                  14
Massachusetts            14
New Hampshire            10
Connecticut               8
Rhode Island              5
Hawaii                    4
Delaware                  3
District of Columbia      1
}                         1
Name: state, dtype: int64

In [54]:
df.count()

state                     3115
county                    3114
fips                      3114
trump16                   3114
clinton16                 3114
otherpres16               3114
romney12                  3114
obama12                   3114
otherpres12               3114
demsen16                  1942
repsen16                  1942
othersen16                1942
demhouse16                2862
rephouse16                2862
otherhouse16              2862
demgov16                   601
repgov16                   601
othergov16                 601
repgov14                  2148
demgov14                  2148
othergov14                2148
total_population          3111
cvap                      3111
white_pct                 3111
black_pct                 3111
hispanic_pct              3111
nonwhite_pct              3111
foreignborn_pct           3111
female_pct                3111
age29andunder_pct         3111
age65andolder_pct         3111
median_hh_inc             3111
clf_unemploy_pct          3111
lesshs_pct                3111
lesscollege_pct           3111
lesshs_whites_pct         3111
lesscollege_whites_pct    3111
rural_pct                 3113
ruralurban_cc\            3114
dtype: int64

In [55]:
by_state = df.groupby(["state"])
trump_tot = by_state["trump16"].sum()
clinton_tot = by_state["clinton16"].sum()

summary = pd.DataFrame({"Trump":trump_tot, \
    "Clinton": clinton_tot})
summary

                          Trump    Clinton
state
Alabama               1318250.0   729547.0
Arizona               1252401.0  1161167.0
Arkansas               684872.0   380494.0
California            4483810.0  8753788.0
Colorado              1202484.0  1338870.0
Connecticut            673215.0   897572.0
Delaware               185127.0   235603.0
District of Columbia    12723.0   282830.0
Florida               4617886.0  4504975.0
Georgia               2089104.0  1877963.0
Hawaii                 128847.0   266891.0
Idaho                  409055.0   189765.0
Illinois              2146015.0  3090729.0
Indiana               1557286.0  1033126.0
Iowa                   800983.0   653669.0
Kansas                 671018.0   427005.0
Kentucky              1202971.0   628854.0
Louisiana             1178638.0   780154.0
Maine                  334945.0   354718.0
Maryland               943169.0  1677928.0
Massachusetts         1090893.0  1995196.0
Michigan              2279543.0  2268839.0
Minnesota             1322951.0  1367716.0
Mississippi            700714.0   485131.0
Missouri              1594511.0  1071068.0
Montana                279240.0   177709.0
Nebraska               495961.0   284454.0
Nevada                 512058.0   539260.0
New Hampshire          345790.0   348526.0
New Jersey            1601933.0  2148278.0
New Mexico             319667.0   385234.0
New York              2814589.0  4547562.0
North Carolina        2362631.0  2189316.0
North Dakota           216794.0    93758.0
Ohio                  2841005.0  2394164.0
Oklahoma               949136.0   420375.0
Oregon                 782403.0  1002106.0
Pennsylvania          2970733.0  2926441.0
Rhode Island           180490.0   251888.0
South Carolina        1155389.0   855373.0
South Dakota           227721.0   117458.0
Tennessee             1522925.0   870695.0
Texas                 4685047.0  3877868.0
Utah                   515231.0   310676.0
Vermont                 95369.0   178573.0
Virginia              1769443.0  1981473.0
Washington            1221747.0  1742718.0
West Virginia          489371.0   188794.0
Wisconsin             1404440.0  1381823.0
Wyoming                174419.0    55973.0
}                           0.0        0.0

In [56]:
df = df[['state', 'county', 'fips', 'total_population', 'cvap', 'white_pct',
      'black_pct', 'hispanic_pct',
       'nonwhite_pct', 'foreignborn_pct', 'female_pct', 'age29andunder_pct',
       'age65andolder_pct', 'median_hh_inc', 'clf_unemploy_pct', 'lesshs_pct',
       'lesscollege_pct', 'lesshs_whites_pct', 'lesscollege_whites_pct',
       'rural_pct']]
df.head()

,state,county,fips,total_population,cvap,white_pct,black_pct,hispanic_pct,nonwhite_pct,foreignborn_pct,female_pct,age29andunder_pct,age65andolder_pct,median_hh_inc,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct
0,Alabama,Autauga,1001.0,55049.0,40690.0,75.683482,18.370906,2.572254,24.316518,1.838362,51.176225,40.037058,13.978456,53099.0,5.591657,12.417046,75.407229,10.002112,74.065601,42.002162
1,Alabama,Baldwin,1003.0,199510.0,151770.0,83.178788,9.225603,4.366698,16.821212,3.269510,51.194928,35.474412,18.714851,51365.0,6.286843,9.972418,70.452889,7.842227,68.405607,42.279099
2,Alabama,Barbour,1005.0,26614.0,20375.0,45.885624,47.888329,4.309762,54.114376,2.859397,46.498084,37.664387,16.528895,33956.0,12.824738,26.235928,87.132213,19.579752,81.364746,67.789635
3,Alabama,Bibb,1007.0,22572.0,17590.0,74.765196,21.212121,2.223994,25.234804,1.351232,46.464646,37.329435,14.885699,39776.0,7.146827,19.301587,88.000000,15.020490,87.471774,68.352607
4,Alabama,Blount,1009.0,57704.0,42430.0,87.657701,1.557951,8.727298,12.342299,4.271801,50.485235,37.240053,17.192916,46212.0,5.953833,19.968585,86.950243,16.643368,86.163610,89.951502